<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{layouts/main_layout}">

<div class="container-fluid" layout:fragment="content" >

<head>
    <meta charset="UTF-8">
    <title>회원가입 성공</title>
</head>
<body>
    <div class="mb-3 row">
        <label class="col-sm-2 col-form-label">회원가입 완료됐습니다.</label>
    </div>

    <button class="btn btn-primary" onclick="login()">login</button>

</body>
    <th:block layout:fragment="script">
        <script type="text/javascript">
        function login(){
        const form = document.getElementById("signIn");
        form.setAttribute("method", "get")
        form.setAttribute("action", "try-login")
        form.submit();
    }
        </script>
    </th:block>
</div>
</html>