<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="member-post" method="post" enctype="multipart/form-data">
    이   름 : <input type="text" name="name" size="10"><br>
    이 메 일 : <input type="text" name="email" size="10">
    <input type="button" value="중복확인" size="10">
    <br>
    비밀번호 : <input type="password" name="pwd">
    <br>
    <input type="submit" value="회원 가입">
</form>
</body>
</html>