<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{layouts/main_layout}">

<div class="container-fluid" layout:fragment="content" >

<head>
    <meta charset="UTF-8">
    <title>회원가입 성공</title>
</head>
<body>
    <div class="mb-3 row">
        <label class="col-sm-2 col-form-label">회원가입 완료됐습니다.</label>
    </div>

    <input type="button" class="btn btn-primary mb-3"
    value="목록으로가기" th:onclick="location.href='/board-list'">

</body>
</div>
</html>