<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{layouts/main_layout}">

<div class="container-fluid" layout:fragment="content" >
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="member-post" method="post" enctype="multipart/form-data">
    <div class="mb-3">
        <label class="form-label">Name</label>
        <input type="text" class="form-control" name="name" size="10" required>
    </div>
    <div class="mb-3">
        <label class="form-label">Email address</label>
        <input type="text" class="form-control" name="email" size="10" required>
    </div>



    <div class="mb-3">
        <label class="form-label">Password</label>
        <input type="password" class="form-control" name="password"  required>
    </div>
    <button type="submit" class="btn btn-primary" onclick="signup()">sign up</button>
</form>
    <br>
    <input class="btn btn-primary" type="button" value="목록으로 돌아가기" th:onclick="location.href='/board-list'">
</body>
    <th:block layout:fragment="script">
        <script type="text/javascript">
        function signup(){
        const form = document.getElementById("signIn");
        form.setAttribute("method", "post")
        form.setAttribute("action", "member-post")
        form.submit();
    }
        </script>
    </th:block>
</div>
</html>