<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{layouts/main_layout}">
<body>
    <div class="container-fluid" layout:fragment="content" >
        <div class="row">
            <div class="col">
                <form method="post" id="signIn">
                    <div class="mb-3">
                        <label class="form-label">Email address</label>
                        <input type="text" class="form-control" name="email" id="email" size="10" required value="bab@bab">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Password</label>
                        <input type="password" class="form-control" name="password" id="pwd" required value="12">
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <button class="btn btn-primary" onclick="login()">login</button>
                <input class="btn btn-primary" type="button" value="회원가입" th:onclick="location.href='/member-input'">
                <input class="btn btn-primary" type="button" value="목록으로 돌아가기" th:onclick="location.href='/board-list'">
            </div>
        </div>
    </div>
</body>
<th:block layout:fragment="script">
<script type="text/javascript">
    function login(){
        const form = document.getElementById("signIn");
        /** validation here!!! **/
        var regEmail = document.getElementById("email");
        var regPwd = document.getElementById("pwd");
        if ((regEmail.value) == ""){
            alert("아이디를 입력하지 않았습니다.");
            regEmail.focus();
            return false;
        }
        if ((regPwd.value) == ""){
            alert("비밀번호를 입력하지 않았습니다.");
            regPwd.focus();
            return false;
        }

        /** **/
        form.setAttribute("method", "post")
        form.setAttribute("action", "member-login")
        form.submit();
    }

</script>
</th:block>
</html>