<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<!--위 링크 부분을 원래는 타임리프를 썼는데 타임리프에서 위 링크처럼 바꾸면  -->
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>게시판</h1>
<!--<h1 th:value="${member.getName}"></h1>-->
<input type="button" value="로그인" th:onclick="location.href='/try-login'">
<input type="button" value="게시글쓰기" th:onclick="location.href='/board-input'">
<table>
    <thead>
        <tr>
            <th>index</th>
            <th>제  목</th>
            <th>내  용</th>
            <th>조 회 수</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="m, n : ${board}">
            <td th:text="${n.count}"></td>
            <td>
                <a th:href="@{/board-detail(board_seq=${m.board_seq})}" th:text="${m.title}"></a>
            </td>
            <td th:text="${m.board_contents}">s</td>
            <td th:text="${m.view}">s</td>
        </tr>
    </tbody>
</table>
</body>
</html>