<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{layouts/main_layout}">

<div class="container-fluid" layout:fragment="content" >
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
게시글 상세보기 화면입니다. <br><br>
<table class="table" >
    <tbody  th:each="m : ${detail}">
        <tr>
            <th>제  목</th>
            <td th:text="${m.title}"></td>
        </tr>
        <tr>
            <th>작 성 자</th>
            <td th:text="${m.memberDTO.name}"></td>
        </tr>
        <tr>
            <th>내  용</th>
            <td th:text="${m.board_contents}">s</td>
        </tr>
    </tbody>
</table>
<br>
<input type="button" class="btn btn-primary mb-3" value="목록으로 돌아가기" th:onclick="location.href='/board-list'">
<span th:if="${member_info.member_seq != 0}">
    <span th:if="${member_info.member_seq == detail.member_seq}">
        <input type="button" class="btn btn-primary mb-3" value="수정" th:onclick="location.href='/update-board?board_seq=[[${detail.board_seq}]]'">
        <input type="button" class="btn btn-primary mb-3" value="답글" th:onclick="location.href='/board-reply-input?board_seq=[[${detail.board_seq}]]'">
        <input type="button" class="btn btn-primary mb-3" value="삭제" th:onclick="location.href='/delete-board?board_seq=[[${detail.board_seq}]]'">
    </span>
</span>

<br>
    <form action="comment-post" method="post" enctype="multipart/form-data">
        <input type="text" id= "comment_contents" name="comment_contents"  required>
        <input type="submit" class="btn btn-primary mb-3" value="댓글 등록">
    </form>

<!--댓글 부분-->
    <table class="table" th:each="m : ${comments}">
    <tr>
        <td th:text="${m.comment_contents}"></td>
        <td th:text="${m.create_date}"></td>
        <span th:if="${m.member_seq == detail.member_seq}">
            <td th:text="|작성자[${m.memberDTO.name}]|"></td>
        </span>
        <span th:unless="${m.member_seq == detail.member_seq}">
            <td th:text="${m.memberDTO.name}"></td>
        </span>
    <!--    자신이 작성한 댓글에만 삭제버튼활성화-->
        <td th:if="${member_info != null}">
            <td th:if="${member_info.member_seq == m.member_seq}">
                <input type="button" value="댓글 삭제" th:onclick="location.href='/delete-comment?comment_seq=[[${m.comment_seq}]]'">
            </td>
        </td>
        <br>
    </tr>
    </table>
</body>
</div>
</html>