<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
게시글 상세보기 화면입니다.
<table>
    <thead>
        <tr>
            <th>제  목</th>
        </tr>
        <tr>
            <th>내  용</th>
        </tr>
    </thead>
    <tbody  th:each="m : ${detail}">
    <tr>
            <td th:text="${m.title}"></td>
            <td th:text="${m.board_contents}">s</td>
        </tr>
    </tbody>
</table>

<input type="button" value="수정" th:onclick="location.href='/update-board?board_seq=[[${detail.board_seq}]]'">
<input type="button" value="삭제" th:onclick="location.href='/delete-board?board_seq=[[${detail.board_seq}]]'">
<input type="button" value="목록으로 돌아가기" th:onclick="location.href='/board-list'">
</body>
</html>