<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{layouts/main_layout}">

<div class="container-fluid" layout:fragment="content" >
<h1>게시판</h1>
<!--<h1 th:value="${member.getName}"></h1>-->
    <span th:if="${login_info == null}">
<input type="button" value="로그인" th:onclick="location.href='/try-login'">
        </span>
    <span th:unless="${login_info == null}">
        <span th:text="|Hello, ${login_info.name} ~|"></span>
        <input type="button" value="로그아웃" th:onclick="location.href='/try-login'"> <br>
    </span>
<input type="button" value="게시글쓰기" th:onclick="location.href='/board-input'">
<table>
    <thead>
        <tr>
            <th>index</th>
            <th>제  목</th>
            <th>내  용</th>
            <th>조회수</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="m, n : ${board}">
            <td th:text="${n.count}"></td>
            <td>
                <a th:href="@{/board-detail(board_seq=${m.board_seq})}" th:text="${m.title}"></a>
            </td>
            <td th:text="${m.board_contents}">s</td>
            <td th:text="${m.view}">s</td>
        </tr>
    </tbody>
</table>
</div>
</html>