<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{layouts/main_layout}">

<div class="container-fluid" layout:fragment="content" >
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
게시글 상세보기 화면입니다.
<table>
    <thead>
        <tr>
            <th>제  목</th>
        </tr>
        <tr>
            <th>내  용</th>
        </tr>
    </thead>
    <tbody  th:each="m : ${detail}">
    <tr>
            <td th:text="${m.title}"></td>
        <tr>
        <tr>
            <td th:text="${m.board_contents}">s</td>
        </tr>
    </tbody>
</table>

<input type="button" th:text="${detail.board_seq}"
       value="수정" th:onclick="location.href='/update-board?board_seq=[[${detail.board_seq}]]'">
<input type="button" value="삭제" th:onclick="location.href='/delete-board?board_seq=[[${detail.board_seq}]]'">
<input type="button" value="목록으로 돌아가기" th:onclick="location.href='/board-list'">
<br>
    <form action="comment-post" method="post" enctype="multipart/form-data">
        <input type="text" id= "comment_contents" name="comment_contents">
<!--        <input type="submit" value="댓글 쓰기"-->
<!--               th:onclick="location.href='/comment-post?board_seq=[[${detail.board_seq}]]'">-->
        <input type="submit" value="댓글 등록">
    </form>


<tbody  th:each="m : ${comments}">
<tr>
    <td th:text="${m.comment_contents}"></td>
    <td th:text="${m.create_date}"></td>
    <input type="button" value="댓글 삭제" th:onclick="location.href='/delete-comment?comment_seq=[[${m.comment_seq}]]'">
    <br>
</tr>
</tbody>

</body>
</html>