<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.dao.BoardMapper">
    <select id="getBoard" resultType="com.example.dto.BoardDTO">
        select * from boards
    </select>

    <insert id="setBoard" parameterType="com.example.dto.BoardDTO">
        insert into boards (board_seq, member_seq, title, board_contents, create_date)
        values(board_seq, #{member_seq}, #{title}, #{board_contents}, now())
    </insert>

    <select id="findBoardBySeq" resultType="com.example.dto.BoardDTO">
        select board_seq, member_seq, title, board_contents, create_date, view
        from boards where board_seq = #{board_seq}
    </select>

    <update id="viewCount" parameterType="com.example.dto.BoardDTO">
        update boards
        set view = view+1
        where board_seq = #{board_seq}
    </update>

    <delete id="deleteBoardBySeq" parameterType="com.example.dto.BoardDTO">
        delete from boards where
        board_seq = #{board_seq}
    </delete>

    <update id="updateBoardBySeq" parameterType="com.example.dto.BoardDTO">
        update boards
        set title = #{title}, board_contents = #{board_contents}, member_seq = #{member_seq}, modify_date = now()
        where board_seq = #{board_seq}
    </update>

    <select id="forPaging" resultType="com.example.dto.BoardDTO">
        select count(title) from boards
    </select>

    <resultMap id="CommentDTO" type="com.example.dto.CommentDTO">
        <result column="comment_seq" property="comment_seq"></result>
        <result column="member_seq" property="member_seq"></result>
        <result column="board_seq" property="board_seq"></result>
        <result column="comment_contents" property="comment_contents"></result>
        <result column="create_date" property="create_date"></result>
    </resultMap>
    
<!--    상세보기에서 댓글도 같이 보이게끔 하기 ! -->
    <select id="joinComment" parameterType="com.example.dto.MemberDTO"  resultMap="CommentDTO">
        select z.comment_seq, z.board_seq, z.member_seq, m.name, z.comment_contents, z.create_date
        from member m, (select * from comments where board_seq = #{board_seq}) z
        where m.member_seq = z.member_seq;
    </select>


</mapper>