<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.dao.BoardMapper">
    <select id="getBoard" resultType="com.example.dto.BoardDTO">
        select * from boards
    </select>

    <insert id="setBoard" parameterType="com.example.dto.BoardDTO">
        insert into boards (member_seq, title, board_contents, create_date)
        values( #{member_seq}, #{title}, #{board_contents}, now())
    </insert>

    <select id="findBoardBySeq" resultType="com.example.dto.BoardDTO">
        select * from boards where board_seq = #{board_seq}
    </select>

    <delete id="deleteBoardBySeq" parameterType="com.example.dto.BoardDTO">
        delete from boards where
        board_seq = #{board_seq}
    </delete>

    <update id="updateBoardBySeq" parameterType="com.example.dto.BoardDTO">
        update boards
        set title = #{title}, board_contents = #{board_contents}, member_seq = 1
        where board_seq = #{board_seq}
    </update>
</mapper>