<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.dao.CommentMapper">
    <select id="getComment" resultType="com.example.dto.CommentDTO">
        select
        comment_seq, member_seq, board_seq,
        comment_contents, create_date
        from comments
    </select>

    <insert id="setComment" parameterType="com.example.dto.CommentDTO">
        insert into comments
        (comment_seq, member_seq, board_seq, comment_contents)
        values (comment_seq, #{member_seq}, #{board_seq}, #{comment_contents})
    </insert>

    <select id="findCommentBySeq" resultType="com.example.dto.CommentDTO">
        select comment_seq, board_seq, member_seq, comment_contents, create_date from comments where comment_seq = #{comment_seq}
    </select>

    <delete id="deleteCommentBySeq" parameterType="com.example.dto.CommentDTO">
        delete from comments where
        comment_seq = #{comment_seq}
    </delete>

</mapper>